.fcontainer{
  display: grid;
  grid-template-columns: repeat(5,auto);
  justify-content: center;
  height: 800px;
}
.box{
  width: 110px;
  height: 200px;
  background-color: white;
  font-size: large;
  margin: 10px solid;
  padding: 12px;
  text-align: center;
  border-color: gray;

}
#b1,#b2,#b4,#b5{
  border: 2px solid gray;
  border-radius: 5%;
  margin: 8px;
}
#b3{
  height: 200px;
  width: 220px;
}
strong{
  font-size: 50px;
  font-weight: lighter;
}

.footer{
  margin-left : 80px;
  font-size : 18px;
}
